.section{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center;
}

.hidden {
  display: none;
}
.edit {
margin:10px;
text-align: right;
}

.delete {
margin:10px;
text-align: letf;
}
