<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Items Section</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lucruri/Sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lucruri/ItemsAdd.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <title>Create Items</title>
</head>
<body style="background-color:#F5F5DC;">
<div th:fragment="Sidebar">
    <div th:insert="fragments/Sidebar :: Sidebar"></div>
    <h1 class="section padding">Create a new Item</h1>

    <div class="card section" style="background-color:#A9A9A9;">
        <div class="card-header" style="background-color:black;">
            <h5 class="card-title" style="color:white;">Enter an item</h5>
        </div>
        <div class="card-body">

            <form th:action="@{/submitItem}" th:object="${items}" method="post">

                <div class="input-group mb-3 ">

                    <input type="text" class="form-control d-none" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.id}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Name</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.name}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Price</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.price}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Company</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.company}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Gender</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.gender}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Color</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.color}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Material</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" th:field="${items.material}">
                </div>

                <div class="input-group mb-3">
                    <span style="background-color:black;color:white;" class="input-group-text">Store</span>
                    <select th:field="${items.storesTable.id}">
                        <option th:each="storesTable : ${storeList}" th:value="${storesTable.id}" th:text="${storesTable.name}"></option>
                    </select>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-dark me-md-2" type="submit">Submit</button>
                </div>

            </form>

        </div>
    </div>

</div>
</body>
</html>