<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Stores Section</title>
    <link rel="stylesheet" type="text/css" th:href="@{/lucruri/Sidebar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/lucruri/ItemsAdd.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <title>Create new Store</title>
</head>
<body style="background-color:#F5F5DC;">
<div th:fragment="Sidebar">
    <div th:insert="fragments/Sidebar :: Sidebar"></div>
    <h1 class="section padding">Create a new Store</h1>

    <div class="card section" style="background-color:#A9A9A9;">
        <div class="card-header" style="background-color:black;">
            <h5 class="card-title" style="color:white;">Enter a store</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/submitStore}" th:object="${store}" method="post">

                <div class="input-group mb-3 form-group">
                    <span style="background-color:black;color:white;" class="input-group-text">Code</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" th:field="${store.cod}">
                </div>

            <div class="input-group mb-3 form-group">
                <span style="background-color:black;color:white;" class="input-group-text">Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" th:field="${store.name}">
            </div>

            <div class="input-group mb-3 form-group">
                <span style="background-color:black;color:white;" class="input-group-text">Address</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" th:field="${store.address}">
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end form-group">
                <button class="btn btn-dark me-md-2" type="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>